.menuIcon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 3px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 2px) ;
    transform: rotate(-45deg) translate(-9px, 2px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -2px) ;
    transform: rotate(45deg) translate(-8px, -2px) ;

}

.div1 {
    width: 100%;
    padding: 50px;
    border: 1px solid #adabab;
    background-color: #adabab;
    /*box-shadow: 10px 10px 15px rgba(44, 45, 47, 0.79);*/
}


.colour{
  background-color: grey;
}
.tabcolor{
  background-color: lightgrey;
}
.buttonfin{
  width: 15px;
  height: 30px;
}

.widthSmall{
margin-left: 200px;
width: 75%;
}

.hidden{
    left:-200px;
}

.notABottomBitch {
z-index: 1000;
}

.newWidth{
width: 25%;
}

.resourceUlList{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 10px;
overflow: auto;
}

.noPadding {
  padding: 0;
  background-color: blue;
}



.sidebarScroll {
  height: 100%;
  display: block;
  box-sizing: border-box;
  overflow-x: auto;
  max-width: 200px;
}

.sidebarLeft {
    position: absolute;
    /*overflow: scroll;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/
    border-radius: 3px;
    width: 200px;
    height:500px;
background-color: lightgrey;
}

.ui-tabs-panel {

  padding: 0 0 0 0 !important;
}

.ui-tabs {
    padding: 0 0 0 0 !important;
}
.grey-background {
  background-color: #adabab; !important;
}
/*.resourceDrag {
  vertical-align:top;
}*/
.center-text {
  text-align: center;
}

.cookieWarning {
  /*background:linear-gradient(
                     grey,
                     blue,
                     red,
                     rgba(0, 0, 0, 0.5));*/

width: 100%;
height: 100px;
border: 1px solid grey;
background-color: #999;
text-align: center;
font-size: 18px;
box-shadow: 10px 10px 15px rgba(44, 45, 47, 0.79);
}

.deleteButton {
background-color: red !important;
background: red !important;
color: white !important;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .5s ease;
    z-index: 1000;
    display:none;
}

.widthMatchResRow {
  width: 200px;
}

.overflowAuto {
  overflow-y: auto;
}
.overflowHidden {
  overflow: visible;
}

.background-color {
  background-color: #f0f0f0 !important
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
