.menuIcon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 3px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 2px) ;
    transform: rotate(-45deg) translate(-9px, 2px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -2px) ;
    transform: rotate(45deg) translate(-8px, -2px) ;

}

.div1 {
    width: 100%;
    padding: 50px;
    border: 1px solid grey;
    background-color: grey;
    /*box-shadow: 10px 10px 15px rgba(44, 45, 47, 0.79);*/
}

.colour{
  background-color: grey;
}
.tabcolor{
  background-color: lightgrey;
}
.buttonfin{
  width: 15px;
  height: 30px;
}

.widthSmall{
margin-left: 200px;
width: 75%;
}

.hidden{
    left:-200px;
}

.newWidth{
width: 25%;
}

.resourceUlList{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 10px;
}

.noPadding {
  padding: 0;
  background-color: blue;
}
